<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="configuration">
	<Properties>
		<Property name="PATTERN">%d{dd.MM.yyyy HH:mm:ss} [%p] %c in %t: %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="vong.piler.her" level="INFO" />
		<Root level="ERROR">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>